<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
  </Fragment>
  <Fragment>
    <CustomAction Id="GetIISWebSites" BinaryKey="WebSiteCA" DllEntry="GetWebSites"
                  Execute="immediate" Return="check" />    
    
    <CustomAction Id="SetApplicationRootDirectory" Directory="INSTALLFOLDER"
									Value="[WEBSITE_PATH]\[VirtualDirectory]" />
    <CustomAction Id="UpdatePropsWithSelectedWebSite" BinaryKey="WebSiteCA"
                  DllEntry="UpdatePropsWithSelectedWebSite" Execute="immediate"
                  Return="check" />
    <InstallUISequence>
      <Custom Action="GetIISWebSites" After="CostFinalize"
							Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>
    <Binary Id="WebSiteCA" SourceFile="$(var.IISCA.TargetDir)$(var.IISCA.TargetName).CA.dll" />

  </Fragment>
  <Fragment>
    <EnsureTable Id="ComboBox"/>
    <Property Id="WEBSITE" Value="1"/>
    <Property Id="VirtualDirectory" Value="!(loc.ProductName)"/>
    <UI>
      <Dialog Id="InstallationAddress" Width="370" Height="270" Title="!(loc.ProductName)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17"
                 Default="yes" Text="!(loc.WixUINext)">
          <Condition Action="disable">WEBSITE = "" OR VirtualDirectory = ""</Condition>
          <Condition Action="enable"><![CDATA[WEBSITE <> "" AND VirtualDirectory <> ""]]></Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17"
                 Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17"
                 Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="219" Height="28" Transparent="yes"
                 NoPrefix="yes" Text="!(loc.SelectInstallAddress)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44"
                 TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="SelectWebSiteLabel" Type="Text" X="20" Y="105" Width="290" Height="10"
                 NoPrefix="yes" Text="!(loc.Site)" />
        <Control Id="SelectWebSiteCombo" Type="ComboBox" X="20" Y="117" Width="250" Height="16"
                 Property="WEBSITE" Sorted="yes" ComboList="yes" />
        <Control Type="Text" Id="VirtualDirectoryLabel" Width="290" Height="10" X="20" Y="140"
                 Text="!(loc.VirtualDirectory)" />
        <Control Type="Edit" Id="VirtualDirectoryTextbox" Width="250" Height="15" X="20" Y="152"
                 Property="VirtualDirectory" />
        <Control Type="Text" Id="InfoText1" Width="350" Height="17" X="10" Y="55"
                 Text="!(loc.Info1)" />
        <Control Type="Text" Id="InfoText2" Width="350" Height="17" X="10" Y="75"
                 Text="!(loc.Info2)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>