<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpB858CE2E18560D80A25DD5CDB0A5283C" Guid="*">
                <File Id="fil79099226B2DCD2C0949AD5125D7B864E" KeyPath="yes" Source="$(var.BasePath)\Default.html" />
            </Component>
            <Component Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" Guid="*">
                <File Id="filF804CBAD53A94E1BE2AB44FD5DF0AB63" KeyPath="yes" Source="$(var.BasePath)\packages.config" />
            </Component>
            <Component Id="cmpB245C55D22E277819AED2ED3D9694E42" Guid="*">
                <File Id="filAFA20C57AAA13B36AAC4D673E711BA71" KeyPath="yes" Source="$(var.BasePath)\Silverlight.js" />
            </Component>
            <Component Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" Guid="*">
                <File Id="fil8994620207C22CA15AF75ACDD6420C79" KeyPath="yes" Source="$(var.BasePath)\Web.config" />
            </Component>
            <Directory Id="dir7307A6085BD4ABD9B8955C093FD541F5" Name="bin">
                <Component Id="cmp4795109627B83AD0BD4AE603B111DBF1" Guid="*">
                    <File Id="filEE905A33DF4BB70A125796A18623634B" KeyPath="yes" Source="$(var.BasePath)\bin\EntityFramework.dll" />
                </Component>
                <Component Id="cmp95D3A8C32BC803B75AE5D353519095F8" Guid="*">
                    <File Id="fil52FB17919797955EEDEE0BBE3A219DEC" KeyPath="yes" Source="$(var.BasePath)\bin\KanbanBoard.Web.dll" />
                </Component>
                <Component Id="cmp9B45B13543F806F7FD82CABFCE0D267E" Guid="*">
                    <File Id="fil623BFC6AA5CFC02D4EB2727B58D15B9D" KeyPath="yes" Source="$(var.BasePath)\bin\KanbanBoard.Web.pdb" />
                </Component>
            </Directory>
            <Directory Id="dirF9C88477F08677A1391D5A7F0C0300C1" Name="ClientBin">
                <Component Id="cmpAE9299BD3D4477FF60E1105091572A87" Guid="*">
                    <File Id="filE38533A2D0B4697BD3FF86071AA5D74E" KeyPath="yes" Source="$(var.BasePath)\ClientBin\KanbanBoard.Shell.xap" />
                </Component>
                <Component Id="cmpFCEBF5B283B7922E11CC468C11122D64" Guid="*">
                    <File Id="filF1289768AB33D3C0F42490E2637C0598" KeyPath="yes" Source="$(var.BasePath)\ClientBin\KanbanBoard.xap" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="KanbanBoard.Web_Project">
            <ComponentRef Id="cmpB858CE2E18560D80A25DD5CDB0A5283C" />
            <ComponentRef Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" />
            <ComponentRef Id="cmpB245C55D22E277819AED2ED3D9694E42" />
            <ComponentRef Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" />
            <ComponentRef Id="cmp4795109627B83AD0BD4AE603B111DBF1" />
            <ComponentRef Id="cmp95D3A8C32BC803B75AE5D353519095F8" />
            <ComponentRef Id="cmp9B45B13543F806F7FD82CABFCE0D267E" />
            <ComponentRef Id="cmpAE9299BD3D4477FF60E1105091572A87" />
            <ComponentRef Id="cmpFCEBF5B283B7922E11CC468C11122D64" />
        </ComponentGroup>
    </Fragment>
</Wix>